.algorithms-list {
	padding-inline: 1em;
	padding-block: 2em;
	display: flex;
	flex-direction: column;
	gap: 2em;

	&__item {
		cursor: pointer;
		user-select: none;
		font-size: 1.8rem;
		font-weight: 500;

		&:hover {
			text-decoration: underline;
		}
	}
}
